body {
  height: 90vh;
}

.main {
  text-align: center;
  max-width: 700px;
  min-height: 450px;
  background: linear-gradient(180deg, #10CAB7 0%, #10CAB7 50%, #6D8499 50%, #6D8499 100%);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main p {
  font-size: 40px;
  color: white;
  padding-top: 20%;
  padding-bottom: 10%;
}

.main a {
  /* text-decoration: none;
  font-size: 30px; */
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 3rem;
  padding: 10px 25px;
  border-radius: 2rem;
  display: block;
  width: fit-content;
  background-color: #10CAB7;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main a:hover {
  background-color: #6D8499;
  box-shadow: 0px 0px 0px 1px #10CAB7;
}